extends layout

block content
    h2.ui.center.aligned.icon.header
      i.lock.icon
      .content
        | Stuck Overflow is Locked
        .sub.header Please Register or Login to Ask or Find Documentation
            br
            .ui.segment
              .ui.buttons
                a.ui.teal.button(role='button' href='/register') Register
                .or
                a.ui.purple.button(role='button' href='/login') Login
    h2.ui.center.aligned.icon.header
      i.comment.outline.icon(id='userId' rel='1')
      .content
        | Ask a Question
        .sub.header Or find a documentation that suit your need
    .ui.segment
      form.ui.form(id='form_question' method='POST' action='/api/question')
        .field
          label Title
          input(name='title', id='field_title',placeholder='Question Title', type='text')
        .field
          label Content
          textarea(name='content', id='field_content', placeholder='Details your question here...', type='text')
        button.ui.inverted.blue.button(id='btn-question' type='submit') Submit Question
