<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (!user) { %>
      <a href="/login">Login</a>
      <a href="/register">Signup</a>
      <!DOCTYPE html>
      <html>
        <head>
          <meta charset="utf-8">
          <title>Stuck</title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <!-- jquery -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <!-- Latest compiled and minified JavaScript -->
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        </head>
        <body>

          <h1 id = "result" onclick= "showQuestion()" >Question</h1>

          <div class="container" id ="form" >
            <div class="form-group">
              <div class="form-group">
                <br>
                <label for="title">Title:</label>
                <input type="text" class="form-control" name="title" id="title">
              </div>
              <label for="exampleTextarea"> </label>
              <textarea class="form-control" name = "question" id="question" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-primary"  onclick= "addQuestion()" >Submit</button>
          </div>

        </body>
        <div class="container" id="show">
        </div>
        <div class="container" id ="show2">

        </div>
        <script type="text/javascript">
                  function showQuestion(){
                    $('#result').hide()
                    $('#form').show()
                  }
                  function addQuestion(){
                       Question = {
                        title : $('#title').val(),
                        question  : $('#question').val()
                      }
                      sendQuestion(Question);//send data to create
                  }
                  //function to create in mongo
                  function sendQuestion(Question){
                    $.ajax({
                      url         : "http://localhost:3000/api/question",
                      method      : 'post',
                      contentType : 'application/x-www-form-urlencoded',
                      data        : Question,
                      success     : function (data){
                        $('#form').hide()
                        $('#result').show()
                        let resultHTML = `  <div class="container" id = "${data._id}" >
                        <hr>
                            <div class="form-group" >
                              <div class="form-group">
                                <br>
                                <h1 style="text-align:center"> Title : ${data.title}</h1>
                              </div>
                              <h1 class="form-control" name = "question" id="question" rows="3">${data.question}</h1>
                            </div>
                            <button type="button" class="btn btn-primary"  onclick="deleteQuestion(${data._id})">Delete</button>
                            <button type="button" class="btn btn-primary"  onclick="updateQuestion(${data._id})">Update</button>
                          </div>`
                        $("#show").prepend(resultHTML)
                      }
                    })
                  }

                  //show all data using ajax
                  function loadData(){
                    $.ajax({
                      url         : "http://localhost:3000/api/question",
                      method      : 'get',
                      contentType : 'application/x-www-form-urlencoded',
                      data        : {},
                      success     : function (data){
                           var html = "";
                           for(var i = 0; i < data.length; i++){
                             html += ` <div class="container" id = "${data[i]._id}" >
                                  <hr>
                                 <div class="form-group" >
                                   <div class="form-group">
                                     <br>
                                     <h1 style="text-align:center"> Title : ${data[i].title}</h1>
                                   </div>
                                   <h1 class="form-control" name = "question" id="question" rows="3">${data[i].question}</h1>
                                 </div>
                                 <button type="button" class="btn btn-primary"  onclick="deleteQuestion(${data[i]._id})">Delete</button>
                                 <button type="button" class="btn btn-primary"  onclick="updateQuestion(${data[i]._id})">Update</button>
                               </div>`
                           }
                          $("#show2").prepend(html)
                         }
                    })
                  }

                  //-----------------------------------
                  // //the end of create
                  // //------------------------------------
                  function deleteQuestion(id){
                    $.ajax({
                      url         : "http://localhost:3000/api/question/"+id,
                      method      : 'delete',
                      contentType : 'application/x-www-form-urlencoded',
                      data        : {'id':id},
                      success     : function(data) {
                        console.log(data);
                        $(`#${data._id}`).remove();
                      }
                    })
                  }
                  // //-------------------------
                  // //update items
                  // //-----------------------------
                  // function(){
                  //   Question = {
                  //     title : $('#title').val(),
                  //     question  : $('#question').val()
                  //   }
                  //   updateCustomer(Question);//send data to create
                  // }
                  // function updateCustomer(id){
                  //   alert(id);
                  //   console.log(id+"aja");
                  //   $.ajax({
                  //     url         : "http://localhost:3000/api/customers/update/"+id,
                  //     method      : 'put',
                  //     contentType : 'application/x-www-form-urlencoded',
                  //     data        : {'id':id},
                  //     success     : function(data) {
                  //       $(`#${id}`).remove();
                  //     }
                  //   })
                  // }  //-------------------
        $(document).ready(function(){
          loadData()
        })


        //

        </script>
        <!-- <script type="text/javascript" src = "index.js" ></script> -->
      </html>

    <% } %>
  </body>
</html>
