doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .ui.secondary.menu
      a.item(role='button' href='/')
        | Home
      a.item(role='button' href='/register')
        | Register
      a.item(role='button' href='/login')
        | Login
      .right.menu
      -if(user)
        .item
          .ui.icon.input
            input(placeholder='Search...', type='text')
            i.search.link.icon
        a.ui.item(role='button' href='/logout')
          | Logout
    .ui.segment
      block content
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/semantic.min.js')
  script(src='/javascripts/javascript.js')
