<div class="jumbotron">
  <div class="container text-center">
    <img src="http://i.imgur.com/DyEw4zQ.png" alt="stackoverfloat" width="500px">

    <div>
    	<a href="/questions" class="btn btn-lg btn-primary" style="margin-top:50px">Start Now</a>
    </div>
  </div>
</div>
