<!DOCTYPE html>
<html>

<head>
    <title>STACKX</title>
    <style type="text/css" media="screen">
    html, body {
     height: 100%;
}

    body {
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }
    
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/5b4025bff4.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 vcenter text-center">
                
                    <img src="http://i.imgur.com/BK2cOSh.png" height="200px" alt="logo-stackx" style="margin-top: 100px;">

                <div style="margin-top: 40px;">
                	<div class="col-md-4 text-center"><img src="http://i.imgur.com/2ccyEUO.png" style="height: 40px"></div>
			<div class="col-md-4 text-center"><img src="http://i.imgur.com/u4do1DG.png" style="height: 40px"></div>
			<a href="/forum"><div class="col-md-4 text-center"><img src="http://i.imgur.com/hGaWXGy.png" style="height: 40px"></div></a>
            </div>
                </div>
			
        </div>
    </div>
</body>

</html>
<!-- stackx http://i.imgur.com/BK2cOSh.png
good http://i.imgur.com/2ccyEUO.png
chat http://i.imgur.com/u4do1DG.png
forum http://i.imgur.com/hGaWXGy.png -->
